[2020-09-17 15:56] Zoiter7 opened #91 "Chest inspector bug"
Hello, I want to report a dupe glitch with chest.
I'm using the last release.

Steps:
1. Put yourself in /staff mode and open a chest.
2. Another user open the same chest and place items inside the chest.
3. Close the chest.

**Result**: The item that was placed by the another user will disappear.

[2020-09-18 08:50] garagepoort commented on #91
Thanks for your bug report. I will start working on it now. Keep a look out for the next release

[2020-09-18 09:28] #91 closed

[2020-09-18 09:43] garagepoort commented on #91
Hi Zoiter7,

The latest release contains the fix.
- 1.16.19
- 1.15.14
- 1.14.13
- 1.13.13

If you encounter any other issues please do not hesitate to contact me

[2020-10-06 21:19] Legoman99573 opened #106 "Add /tempban and /ban commands"
I noticed these two were missing and was wondering if you are willing to add these in at anytime?

[2020-10-06 23:07] garagepoort commented on #106
Hi Legoman,

Yes I would be willing to add those. Temp ban could be very useful.
Will try to add it in version 1.16.27

[2020-10-09 18:08] Azoraqua commented on #106
To me, it doesn't make much sense to add any banning functionality. As to me Staff+(+) is intended to be a support tool and not necessarily a moderation suite.

@garagepoort @Legoman99573

[2020-10-09 18:12] garagepoort commented on #106
@Azoraqua  Wasn't that line crossed already when warning and reports were added?

[2020-10-09 18:58] Azoraqua commented on #106
It is and it is not. Warnings and especially reports are more regarding support for staff than axtual moderation tools.

[2020-10-09 20:31] garagepoort commented on #106
Reports I could see as being a support feature but warnings seems to lean more to moderation imo.
Anyway I added the ban feature in the next release as I would want to take Staff++ further than just a support plugin.

[2020-10-11 17:57] Zoiter7 opened #111 "Lag issue on commands"
MC Versión: 1.16.3
Using latest Staff++ versión

Hello, there is a issue when you run some commands.

• For example when you run /freeze <player> server is start to lagging for some seconds, the same with command /teleport
Crash log: https://pastebin.com/fDLz4aBW

• Also other small bug if you use /freeze command without args returns error.
`[19:51:02] [Server thread/INFO]: Zoiter7 issued server c

[2020-10-12 00:52] garagepoort commented on #111
Hi Zoiter,
Are you using the latest version of Staff++?

[2020-10-12 23:21] #106 closed

[2020-10-12 23:23] garagepoort commented on #111
@Zoiter7 can you try with the latest version to see if the problems persist?

[2020-10-13 02:34] Legoman99573 opened #115 "[Bug] Cannot ban a player who is offline"
Even though the player has joined the server, it doesn't allow me to ban them unless they are online. Only outcome it gives me is that "This player does not exist."

[2020-10-13 06:12] garagepoort commented on #115
Hi @Legoman99573
Just to be sure you did enable this option in the config? `offline-players-mode: true`

[2020-10-13 10:53] Legoman99573 commented on #115
Yeah, that worked. Probably didnt pay attention to that configuration option as i didnt touch that option.

[2020-10-13 10:53] #115 closed

[2020-10-13 11:37] garagepoort commented on #115
when I first implemented the offline users feature I added the configuration option to not break with the old Staff+ implementation. Maybe I should change it to be on by default? I will also update the wiki, I don't think it is documented now.

[2020-10-15 22:06] Zoiter7 commented on #111
Hello, sorry for delay, it works well now.

Thanks :)

[2020-10-15 22:46] garagepoort commented on #111
Closing because the lagging issues are solved.
Option for enabling/disabling bungeecord staffchat
Version 1.16.27

[2020-10-15 22:46] garagepoort commented on #111
Closing because the lagging issues are solved.
Option for enabling/disabling bungeecord staffchat
Version 1.16.27

[2020-10-15 22:46] #111 closed

[2020-10-25 04:09] jackgraddon opened #121 "[FEATURE REQUEST]"
It would be nice to have a support ticket command, such as `/ticket create (ticket description)`. That would be a lot nicer than using the report command for support tickets, and I cannot seem to find any commands for support tickets, which Staff+ did have if I recall.

[2020-10-26 20:56] garagepoort commented on #121
Hi @jackgraddon ,
Thanks for the feature request. The ticketing system was removed because it was bugged out in the original Staff+ plugin.

I did not add it again because I thought having the reporting system would be enough.
Should other people feel the same about having this feature I can add it again.

Maybe we can have a discussion about this on the discord channel

[2020-11-05 23:47] Zoiter7 opened #122 "Error on saving file"
Version: Spigot 1.16.3
StaffPlus version: Latest for 1.16.3

1. When user disconnects from server the user keeps his inv.
2. **Sometimes when user disconnect from server console throws this error with saving data.**

`[07:30:59] [Craft Scheduler Thread - 1014/WARN]: [StaffPlus] Plugin StaffPlus v1.16.32 generated an exception while executing task 7731272
java.lang.NullPointerException: Nodes must

[2020-11-14 18:44] DjTylerD opened #123 "Warm in chest, no severity"
hello, I am currently setting up a server and I find your excellent plugin to facilitate my administrators.
  I discovered a small lack, in the trunk the warning does not give severity, could you measure at least 1 point.
(sorry for my english, i use google translate)

version: 1.16.33
![Capture d’écran 2020-11-14 192508](https://user-images.githubusercontent.com/35812264/99154641-c0c2f080-26b1-11

[2020-11-14 18:58] garagepoort commented on #123
Hi @DjTylerD,

I think I understand what you mean. Warnings do indeed not get a severity when players are warned using the GUI.
I will fix it

[2020-11-14 19:07] DjTylerD commented on #123
Thank you for the quick reply

[2020-11-14 19:16] garagepoort commented on #123
@DjTylerD A way to bypass this bug is to use the warn command rather than the GUI

[2020-11-14 20:14] DjTylerD commented on #123
yes I know,
but my moderator will have a new toy, so will necessarily test, and all my administration system is not in chat control,
I force them to go through tigerReport because there is no command, ban, kick ect,
conclusion I deactivate on your pluggin report I want to keep the warm and change the line:
actions:
         - command: ban% player% & 4Warning threshold has been met
en - command: re

[2020-11-14 20:18] garagepoort commented on #123
Ok I understand. Will fix it in next release

[2020-11-14 20:27] DjTylerD commented on #123
you have time,
in any case very good plugin, felicitation,
I'm testing it in pv but I'm sure the moderators will be appreciated,
I link it with all my pluggin, because as I said there is no important command all this goes through the console

[2020-11-14 23:52] garagepoort commented on #123
Fixed in commit: https://github.com/garagepoort/StaffPlusPlus/commit/077b39919c959288e67123b0e4e9086e9aae85be
Will be included in the next release

[2020-11-16 13:25] garagepoort commented on #122
Hi @Zoiter7,

Could you go into a bit more detail about the first point?

[2020-11-16 13:54] garagepoort commented on #123
@DjTylerD New version release. Let me know if this fixes your issue

[2020-11-16 15:08] DjTylerD commented on #123
thank you, I install it and I will come back to you on another topic after testing because I have error messages on the clear command and the multi-ip function

[2020-11-16 15:22] DjTylerD commented on #123
excellent, very good work, the 3 type of warn in the mistletoe, I close the topic

[2020-11-16 15:22] #123 closed

[2021-01-29 04:42] heathfx opened #131 "[feature request] report investigation mode"
one thing I currently do is limit the permissions of my staff until they are in staff mode, so they can't teleport, can't use core protect and can't access the inventoryRollback plugin until they activate staff mode.

There is a great opportunity to take this a step further by limiting staff permissions until they are "investigating" an open report. What this "investigation mode" would do is set p

[2021-01-29 05:18] heathfx opened #132 "[GUI inconsistency] miner GUI missing back button and pagination"
During some quick testing of staff++ I noticed that the miner GUI is not consistent with several others in that it lacks a back button and a "next page" button.

[2021-01-29 06:58] garagepoort commented on #132
Thanks for bringing it to my attention. I'll update it with next release.

[2021-01-29 07:15] garagepoort commented on #131
This is an interesting idea. I think having an audit log could be very useful.
I'm only wondering when to turn it on and off. Because I can imagine someone picks up a report but then suddenly has to wait for feedback or something and the report stays assigned to them. In this "waiting" period we won't want to do audit logging.

Maybe I should add a status "blocked", so staff members can temporaril

[2021-01-29 18:02] heathfx commented on #131
I think the "ASSIGNED" state should be independent from and "investigation mode".

in the same sense that we have "staff mode" where the staff member has total vanish and can fly around, I would envision another mode that (in how I intend to use it) acts as a child mode of "staff mode", so to access "investigation mode", one must first be in "staff mode".

The following events would automatically

[2021-01-29 18:32] heathfx opened #133 "[feature request] points-based reputation and punishments"
Something I plan to do on my server when 1.17 comes out is to implement a new points-based player reputation system that keeps n00bs on a tight leash, but makes it so long-time players don't get perma-banned as easily.

This is a feature I want bad enough that I intend to fork BanManager and write it myself if I can't find another solution, but I thought it would be worth sharing here since you ar

[2021-01-30 21:50] garagepoort commented on #132
Fixed in release 1.16.44

[2021-01-30 21:50] #132 closed

[2021-01-30 21:53] garagepoort commented on #131
Ok I see, I will need some time to investigate how easy it would be to fit in such a system and to see if other users might also find this a useful feature.

But I really like the idea. Give me some time to come up with the implementation.

[2021-01-30 21:58] garagepoort commented on #133
Ok so if I would develop it I would release it as a standalone plugin tbh. Because keeping a reputation system if more so for the players than it is for staff. Staff++ mostly focuses on player administration.

But what I could do is make Staff++ more flexible so it's easy to hook in such a system. For example add command hooks on report state changes. I already have hooks for warnings.

[2021-01-30 22:42] heathfx commented on #133
I mean it could be considered "out of scope" for this plugin, but you already have something like this in the much more basic form of counting warnings and allowing a threshold number of warnings to automatically ban someone. I like reports being part of this plugin, but honestly any form of a punishment system might be out of scope.

On my server I use staff++ strictly as a tool to handle investi

[2021-02-02 02:42] heathfx opened #135 "[bug] exception related to luckperms api, context calculation"
### The problem
When a new player, never seen before joins my server. I'm seeing this in the logs:

I also have steps to reproduce down below.

`[20:19:13 INFO]: UUID of player HarmWasTaken is 81b521bf-ec53-46a5-a64c-bec0d9cee0d0
[20:19:13 WARN]: [LuckPerms] An exception was thrown by net.shortninja.staffplus.staff.mode.StaffModeLuckPermsContextCalculator whilst calculating the context of subject

[2021-02-02 05:29] garagepoort commented on #135
Hi Infectus,

Thanks for the detailed bug report. I can reproduce it and it will be fixed with next release.

Garagepoort

[2021-02-04 02:06] heathfx commented on #133
I'm going to implement this as a plugin for BanManager, I think it will fit better within "scope" of BanManager.

Sidenote: I previously used BM for reports, but staff++ actually has a better report system, where BM lacks an option to report without specifying a player name. The discord integration with webhooks is nice as well.

I prefer using an ORM like ORMlite for database interaction since it

[2021-02-04 02:06] #133 closed

[2021-02-04 18:49] garagepoort commented on #133
Hey @heathfx

I am still thinking about your reputation system. I don't know if I will have the time to create a plugin like that soon but if I do it will be a standalone one which easily integrates with Staff++.

The choice for not having an ORM was mainly because Staff+ wasn't using one so I kind of kept on building on what they had.
Although in retrospect I threw out 90% of Staff+ database inte

[2021-02-07 19:25] garagepoort commented on #135
Fixed in release 1.16.45

[2021-02-07 19:25] #135 closed

[2021-02-08 00:36] heathfx opened #136 "[bug] fly mode not retained by staff member when random teleport changes dimensions"
When a staff member is in staff mode with fly enabled and they use random teleport then fly will be disabled if the random teleport changes the dimension between the overworld and the nether. The only way to get fly back is to exit and re-enter fly mode.

[2021-02-08 19:31] garagepoort commented on #136
Thanks @heathfx, good catch
I will look into this. Hopefully I can fix this by next release.

[2021-02-08 22:00] heathfx commented on #136
This has been around since the old staff+ days, my workaround was to set staff mode in creative, but it was a pain for interacting with player inventories. It is possible that worldguard is clearing fly mode, but it would be good for staff++ to check this every time the staff member changes worlds to make sure it is still active.

Also, another related issue to random teleport, sometimes the ender

[2021-02-09 00:17] heathfx commented on #136
oops. You can dis-regard this, essentials is screwing with fly mode on dimension change. adding essentials.fly to my staffmode permission group resolved the issue.

The other issue with throwing the ender eye and door interaction remains.

[2021-02-11 22:21] heathfx opened #137 "[bug] vanish state desync from staff mode"
**the problem**
stuck in vanish mode and toggling staff mode does not resolve.

also running the command "/vanish \<username\> disable" fails with the error of user not found

**to reproduce**
shutdown the server while a staff member is connected and in staff mode

**my workaround**
manually edit data.yml to set the vanish mode to NONE and restart the server

[2021-02-12 21:23] garagepoort commented on #136
HEy @heathfx
I fixed the endereye issue. About the door thing I'm a bit unsure because it seems like a feature from the old Staff+. The reason you can't sometimes interact with it is because your holding staff item. If for example your hand would be empty you can always open the door. Some people might not like it if I disable any interaction while in staff/vanish mode.

I'll probably add a proper

[2021-02-12 22:06] heathfx commented on #136
If the resulting interaction with doors can be made silent, then that would one approach...the other would be a gui option to toggle spectator mode so you could just clip through the wall.

[2021-02-13 08:51] garagepoort commented on #137
@heathfx
I'll look into why the state gets desynced.
The command to turn vanish of is: `/vanish TOTAL <username> disable`

[2021-02-13 20:52] heathfx commented on #137
I tried that too and still got a user not found error. I even copied and pasted the username to make sure I wasn't mis-typing.

[2021-02-13 20:59] heathfx opened #139 "[feature request] add coordinates to reports"
When a player runs /report or /reportplayer it is very important for staff to know where the report was submitted. in-game it would be good to have a teleport button inside of the report to teleport to where the report was logged.

the coords should be shown in the tooltip when you hover over the player head.

the discord webhooks messages should also include the coords.

[2021-02-13 22:35] garagepoort commented on #137
Hey @heathfx
Are you executing the command as op? And also make sure no other plugin like essentials is overwriting the command.
I haven't reworked this part of the code yet. I'll probably do that soon to make it more user friendly.

[2021-02-13 22:36] garagepoort commented on #122
inactivity

[2021-02-13 22:36] #122 closed

[2021-02-13 23:43] garagepoort commented on #139
Good suggestion will definitely try to add this in next release.

[2021-02-14 00:08] heathfx commented on #139
sweet thanks!

[2021-02-14 00:41] heathfx commented on #137
yea it was from the shell/console...so, definitely op

I have essentials. but I edited the plugin.yml to remove everything I didn't user because I had so many issues with it conflicting with commands provided by "better" plugins. essentials is so bloated I'm working on getting rid of it and replacing it with more concise plugins.

[2021-02-20 08:53] garagepoort commented on #139
Added in 1.16.48

[2021-02-20 08:53] #139 closed

[2021-03-02 11:23] TGTGamer opened #142 "Plugin StaffPlus v1.16.49 generated an exception while executing task 556"
Heya, I'm getting some errors when attempting to use this application with SpigotPaper 1.16.5 using MySQL synchronisation

[code]

Here's my config:
[code]

[2021-03-02 16:06] garagepoort commented on #142
Confirmed bug. Fixed in 1.16.50

[2021-03-02 16:06] #142 closed

[2021-03-07 19:47] KayleePhoto opened #144 "sp_warnings.is_expired constraint violation"
Not sure what causes this to appear, but every so often I get this warning in my console

`WARN Plugin StaffPlus v1.16.49 generated an exception while executing task 13320
INFO java.lang.RuntimeException: org.sqlite.SQLiteException: [SQLITE_CONSTRAINT]  Abort due to constraint violation (NOT NULL constraint failed: sp_warnings.is_expired)`

`Caused by: org.sqlite.SQLiteException: [SQLITE_CONSTRAIN

[2021-03-07 20:09] garagepoort commented on #144
Ow that's not good. Which version of the plugin are you running? Could you give me the full stack trace?

[2021-03-07 20:32] KayleePhoto commented on #144
Currently using 1.16.49
And I presume the stack trace is the full log output of it? I'm not too sure.

[2021-03-07 20:36] garagepoort commented on #144
Can you update to 1.16.50. because that version fixes that bug iirc.

[2021-03-07 20:47] KayleePhoto commented on #144
Alright, I updated, haven't gotten it yet.
I was thinking it was just the version. I'll update you after awhile if preferred.
If not, I see it as fixed

[2021-03-07 20:57] garagepoort commented on #144
If it's fixed you can just let me know here. If not you can always contact me through discord as well.

[2021-03-08 01:13] TGTGamer opened #146 "refactor: rebuild the config based on rank system"
Pretty simple, as discussed on call @garagepoort

[code]

[2021-03-08 08:41] garagepoort commented on #144
Assuming this fixed it.

[2021-03-08 08:41] #144 closed

[2021-03-11 07:15] TGTGamer opened #147 "refactor: api for discord templates"
I want to suggest changing the names for the API to the following to standardise the entire thing, making it easier to create templates.

[code]

This is broken down and made up from the following spec:
[code]

[2021-03-11 10:16] TGTGamer opened #150 "bug: server config files randomly update & reset properties?!"
I've attached both the file from my local config and the server-generated config. (with database redacted of cause)

[StaffPlus.zip](https://github.com/garagepoort/StaffPlusPlus/files/6122161/StaffPlus.zip)

I have 0 clues why it seems to be resetting my entire config. Would love to figure it out xD

[2021-03-11 12:32] garagepoort commented on #150
In your config file I see the following:

[code]

      The indentation of report types is wrong. Which causes the yaml parsing to fail.
      The code kind of crashes on this with the following exception:

[code]

Fixing the indentation makes the updater work as expected.
[code]

I'll refactor the Update to be more robust.
Because currently it just starts behaving weird when there is a yaml parsi

[2021-03-11 17:28] TGTGamer commented on #150
fixed by fixing the indentation. I would love to see it through an error in console when this happens, cause I didn't even realise it was having any issues

[2021-03-11 17:32] garagepoort commented on #150
I agree and it definitely shouldn't reset the config. I'll fix this with the next release

[2021-03-16 18:05] MEOW2006 opened #151 "bug"
I have a problem with the plugin
it sends this in the console when I want to reload it

[code]

        -------------------------

        **IT'S UP TO DATE!**

[2021-03-16 21:12] garagepoort commented on #151
The reason the above failed is probably because of the plugman reload. The discord plugin does not support being reloaded by plugman.
Discussed the real issue on discord with @MEOW2006. It was a configuration issue and is fixed.

[2021-03-16 21:12] #151 closed

[2021-03-19 18:47] garagepoort commented on #150
Fixed with latest release. Plugin will now fail to stat when there is a yaml parsing error.

[2021-03-19 18:47] #150 closed

[2021-03-20 16:58] KayleePhoto opened #154 "Error after using /staff"
I don't have much info here.
When ever I execute /staff in-game, console reads out this warning.
I didn't have an issue on v1.16.50
[code]

[2021-03-20 18:24] garagepoort commented on #154
Hey @KayleePhoto
It seems something went wrong when saving the staff+ data file.
Could you share your data.yml file?

[2021-03-20 19:33] garagepoort commented on #154
@KayleePhoto I will release a new version of Staff++ in half an hour.
This will try to make the saving of the data file more stable. When that version is released could you download it and see if that changes anything. Also remove your current data.yml file from the staffplus folder

[2021-03-21 01:09] KayleePhoto commented on #154
Sorry for the very late reply.
I'll get right onto getting that version

[2021-03-21 01:20] KayleePhoto commented on #154
Okay, thank you! It doesn't list an error now.

[2021-03-21 01:20] #154 closed

[2021-05-02 12:05] garagepoort commented on #146
Done in version 1.16.60

[2021-05-02 12:05] #146 closed

[2021-05-29 19:18] Bartek200219 opened #159 "Server can't enable plugin after converting configuration"
Server can't enable plugin after converting configuration.
Server: paper-700 1.16.5
Error:
https://paste.ee/p/Ss5MX

[2021-05-29 20:04] garagepoort commented on #159
Hey @Bartek200219
Could you try enabling the investigations module to see if that fixes it?

[2021-05-30 12:27] Bartek200219 commented on #159
Hey, thanks for fast reply. I think my storage type is flatfile
`storage:
  type: flatfile
  mysql:
    host: localhost
    user: root
    database: root
    password: mypass
    port: 3306
    migrated: false`

[2021-05-30 13:24] garagepoort commented on #159
Hey @Bartek200219
Flatfile is not supported in staff++, please change it to `sqlite`

[2021-05-30 21:37] Bartek200219 opened #160 "/examine Interaction bug"
In player's inventory I can't move items in player's inventory, but I can grab items to my inventory then form my inventory I can put somewhere else in player's inventory.
![2021-05-30_23-34-56](https://user-images.githubusercontent.com/37016424/120120798-fc319200-c19f-11eb-889f-39ed3d3f7f54.gif)

[2021-05-30 21:47] garagepoort commented on #160
Hi @Bartek200219

This is actually a known limitation of the current implementation.
What you describe is indeed a work around for this limitation. Sorry about that

[2021-05-30 23:08] #160 closed

[2021-05-30 23:08] garagepoort commented on #159
@Bartek200219 Has this been resolved?

[2021-05-31 06:21] Bartek200219 commented on #159
Yes, thank you.

[2021-05-31 06:21] #159 closed

[2021-06-03 19:18] davidgb8246 opened #161 "Could not pass event PlayerJoinEvent to StaffPlus v1.16.67"
Hey, I have this problem so many times, someone help me.

`[19:14:25] [Server thread/ERROR]: Could not pass event PlayerJoinEvent to StaffPlus v1.16.67
org.bukkit.event.EventException: null
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:319) ~[server.jar:3055-Spigot-4225eac-6f55b5b]
	at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:70) ~[server

[2021-06-03 19:24] garagepoort commented on #161
Hey @davidgb8246

Could you come onto our discord? It might be easier to communicate that way. https://discord.gg/Nwvubuz

[2021-06-12 13:40] Bartek200219 opened #163 "tempmute bug"
![image](https://user-images.githubusercontent.com/37016424/121777854-6977f680-cb94-11eb-86a4-cad72b85aaf0.png)
Log: https://paste.ee/p/lXXRQ

[2021-06-12 21:43] garagepoort commented on #163
@Bartek200219 Thank you for the bug report.
Will be fixed with next release

[2021-06-14 08:03] garagepoort commented on #163
Fixed in 1.16.70

[2021-06-14 08:03] #163 closed

[2021-06-27 03:22] toddharrison opened #165 "Staff++ shadows de.tr7zw.nbtapi without prefixing it"
When starting CommandAPI and Staff++ at the same time, I get this error:
[21:16:36 WARN]: [CommandAPI] Loaded class de.tr7zw.nbtapi.NBTContainer from StaffPlus v1.17.4 which is not a depend, softdepend or loadbefore of this plugin.
This indicates that both Staff++ and CommandAPI are shadowing the nbtapi library without prefixing it to prevent overloading. Both libraries should prefix the shadowed

[2021-06-27 17:28] toddharrison commented on #165
It seems that if I add the item-nbt-api-plugin-2.8.0.jar plugin that this error goes away. Will this have any repercussions on Staff++?

[2021-06-27 20:07] garagepoort commented on #165
Hey @toddharrison
You are correct. I will relocate it.
The usage of the nbt API in staff++ is minimal so chances are this won't cause any issues.

[2021-07-06 00:42] Bartek200219 opened #166 "Vanish doen't hide from dynmap"
Vanish doesn't hide staff from dynmap.

[2021-07-08 06:47] #131 closed

[2021-07-08 14:56] garagepoort commented on #165
Fixed in latest release

[2021-07-08 14:56] #165 closed

[2021-07-08 14:57] garagepoort commented on #166
Marked as feature request.

[2021-07-08 14:58] garagepoort commented on #161
Closed due to inactivity. Please open a new ticket if this still persists

[2021-07-08 14:58] #161 closed

[2021-07-08 14:58] garagepoort commented on #147
Although the api would be cleaner this way, I'm not keen on breaking it for this sake.

[2021-07-08 14:58] #147 closed

[2021-07-08 14:59] garagepoort commented on #137
hey @heathfx
Do you still have this problem?

[2021-07-10 17:57] BirchFluf opened #168 "Wont load on 1.17.1"
10.07 18:52:57 [Server] INFO [StaffPlus] Enabling StaffPlus v1.17.6
10.07 18:52:57 [Server] INFO [StaffPlus] Staff++ has been enabled!
10.07 18:52:57 [Server] INFO [StaffPlus] Plugin created by Shortninja continued by Qball - Revisited by Garagepoort
10.07 18:52:57 [Server] INFO [net.shortninja.staffplus.core.be.garagepoort.mcioc.org.reflections.Reflections] Reflections took 106 ms to scan 1 urls,

[2021-07-10 18:49] garagepoort commented on #168
@BirchFluf what is your storage type configured go inside the config.yml?

[2021-07-16 18:52] amouranthtoo opened #170 "Staff Chat turning on when the word "sc" is mentioned in chat"
Staff Chat turning on when the word "sc" is mentioned in chat
Basicly so whenever i say screen itl send reen to staffchat for some odd reason idk why

[2021-07-16 20:31] garagepoort commented on #170
Hey @Angelic-System
Can you share the staffchat-module configuration part?

[2021-07-16 21:10] Angelic-System commented on #170
im not the owner of the server unfortunalty

[2021-07-16 21:19] garagepoort commented on #170
Ok just make sure that inside the config the `handle` is not set to `sc`

It should look something like this:
[code]

[2021-07-16 21:19] Angelic-System commented on #170
thing is /sc works

[2021-07-16 21:24] garagepoort commented on #170
If it's ok for you, can we continue the discussion on discord? It's a bit easier to communicate

[2021-07-17 00:04] A248 opened #171 "Several bundled libraries are not relocated"
If you open up the StaffPlus jar, you will see many dependencies, such as:

[code]

These need to be relocated for the purpose of compatibility with other plugins. If other plugins include the same dependencies, conflict will result. As the CraftBukkit wiki describes:

I noticed that you already relocate NBTAPI. You need to do the same for the other libraries, too.

https://github.com/garagepoort/

[2021-07-17 00:49] #171 closed

[2021-07-17 21:39] garagepoort commented on #121
Closed due to inactivity

[2021-07-17 21:39] #121 closed

[2021-07-17 21:39] garagepoort commented on #137
Closed due to inactivity

[2021-07-17 21:39] #137 closed

[2021-08-04 17:00] 2020Sanoj opened #175 "IPv6 IPs make Errors"
[Craft Scheduler Thread - 280 - StaffPlus/WARN]: [StaffPlus] Plugin StaffPlus v1.17.8 generated an exception while executing task 723
net.shortninja.staffplus.core.common.exceptions.DatabaseException: com.mysql.cj.jdbc.exceptions.MysqlDataTruncation: Data truncation: Data too long for column 'ip' at row 1
        at net.shortninja.staffplus.core.domain.player.ip.database.AbstractSqlPlayerIpReposit

[2021-08-04 18:47] garagepoort commented on #175
Hey @2020Sanoj
You're right, this is a bug. Will fix it in next release.

[2021-08-04 22:27] 2020Sanoj commented on #175
Ok

[2021-08-08 12:47] #175 closed

[2021-08-12 03:26] MinerCoffee opened #176 "Teleports the mining players to the staff when clicking their name in the mining gui."
Hi in the version 1.17.11, the mining players get teleported when clicking on the them from the mining gui.

[2021-08-12 15:44] Nutmegan opened #177 "GUI Rework Suggestions/Discussion"
This feature request is more of a collection of user suggestions to consider when/if an entire GUI rework ever comes to the table. Most of the suggestions involve removing almost everything that is currently in the hot bar, either completely, or moving into deeper GUI levels. The end result leaves the HOT BAR with only 5 used slots, freeing up slots for me to add things like an inspector wand from

[2021-08-12 19:41] garagepoort commented on #177
Hey @Nutmegan

Thanks for the suggestion. It actually comes at a perfect time since I am reworking the code to allow for easier GUI development.

1. I like the idea of the player GUI and will definitely implement that in one of the upcoming releases.

2. For the HUB, yeah I haven't added everything in it yet, need to update.

3. No idea if the vanish indicator still works, I do like the idea of us

[2021-08-12 19:42] garagepoort commented on #176
Fixed in latest release.

Thanks for reporting

[2021-08-12 19:42] #176 closed

[2021-08-12 19:42] garagepoort commented on #168
Closed due to inactivity

[2021-08-12 19:42] #168 closed

[2021-08-13 16:35] Nutmegan commented on #177
4. Sorry, it's currently called EXAMINE it is a chest icon
5. - 7. Understandable as long as we still have the option to remove them to our personal preferences I don't think it's an issue

I would be happy to make a post on Discord, I just didn't want to open a can of worms for you. After all, you're already working on a lot.

I put together a visual, all hypothetical of course.
<img width="760"

[2021-08-14 19:02] garagepoort commented on #177
Thank you for the mockups. I'll release a first version of this with the next update.

[2021-08-29 07:14] YKDZ opened #181 "error when use freeze wand"
https://paste.ubuntu.com/p/QShyb7qhpj/

This error will appear when clicking on the air, but it can still be used normally.

[2021-08-29 11:18] garagepoort commented on #181
Hey @YKDZ
Thanks for reporting this. I already noticed and it's fixed with the next release (hopefully today)

[2021-08-30 09:07] garagepoort commented on #181
Fixed with 1.17.13

[2021-08-30 09:07] #181 closed

[2021-09-21 20:26] heathfx commented on #166
I simply added this to my staffmode/modes.yml and it works quite well.

`    enable-commands:
    - command: dynmap hide %player%
    disable-commands:
    - command: dynmap show %player%`

[2021-11-08 21:37] TheDudesCraps opened #183 "Stuck Vanished"
Hi,  I felt like this might be the best place to let you know,  I'm having staff members and OPs get stuck in Vanish mode.  Even after restarts, I've checked the config and followed the wiki when setting it up.  Is there a way to force them back out of vanished upon leaving the server?  it seems that the toggle is not working.  I can provide you with server log if you need.  The only fix for this

[2021-11-09 01:24] garagepoort commented on #183
Hello,

Can you provide me with your plugin version and mc server version?

[2021-12-02 04:07] emerysteele opened #186 "[Bug] Staff mode allows multiverse inventories to move to other worlds and overwrite"
I have multiverse inventories setup so my Creative and Survival worlds have different inventories.

If I am in the Creative world, enable staff mode with /staff, then do `/mv tp Survival`. Multiverse Inventories replaces the staff mode inventory with that world's items, but staff mode is still enabled.
So I do `/staff` to turn staff mode off. Now my inventory get's replaced with the inventory I ha

[2021-12-03 23:50] garagepoort commented on #186
Hello @emerysteele

This is a known issue, multiverse inventories is not yet fully supported.
You should be able to work around the issue by setting the `disable-on-world-change` property to `true` in the `configuration/staffmode/modes.yml` file. This will disable staff mode automatically before switching worlds.

[2021-12-08 22:02] #183 closed

[2021-12-08 22:02] #170 closed

[2021-12-10 23:16] emerysteele commented on #186
Perfect, thanks!

[2021-12-10 23:16] #186 closed

[2021-12-11 16:07] Chroee opened #187 "Staff++ Not working whatsoever"
![image](https://user-images.githubusercontent.com/32415061/145683303-fd5bd33d-05fc-4d05-9ee4-b7e2d49e0d3b.png)
This is the error I receive through console which says to read this: https://logging.apache.org/log4j/1.2/faq.html#noconfig in order to fix.

[2021-12-11 16:08] Chroee commented on #187
Fixed, Vault was the issue. Don't know how but it fixed itself after deleting and replacing without even restarting

[2021-12-11 16:08] #187 closed

[2021-12-15 20:49] LuluxClient opened #188 "Item pickug, Exp grab while vanish"
Hello I have "item-pickup" to false but I can still pick up items, here is my config:

[code]

[2021-12-18 12:44] garagepoort commented on #188
Hey @LuluxClient

I can not reproduce your issue. Do you have other plugins installed on your server that might interfere with it?
Also what server and plugin version?

[2022-01-01 19:36] Nutmegan commented on #177
I don't really know how the GitHub process works... Do you need me to do something to help you get this closed? Or are you still working on it? Just checking.

[2022-01-03 06:50] garagepoort opened #191 "How to use Multiline translations"
@Lubinrns I created one for you.

Question: how to use Multiline translation values. \n does not work.

You can use the yaml Multiline string notation. Make sure to be on the latest version of staff++

Example:

[code]

[2022-01-03 16:15] Lubinrns commented on #191
ty ^^

[2022-01-15 22:28] gin-iro opened #192 "Staff can drop items in their "inventory" when switching to staff mode"
If you switch to staff mode, you can drop the items in your staff inventory. Is there a way to prevent it?

[2022-01-15 22:32] gin-iro opened #193 "issue on startup: logging"
[23:18:09] [Server thread/ERROR]: [STDERR] [net.shortninja.staffplus.core.be.garagepoort.mcioc.org.slf4j.helpers.Util] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
[23:18:09] [Server thread/ERROR]: [STDERR] [net.shortninja.staffplus.core.be.garagepoort.mcioc.org.slf4j.helpers.Util] SLF4J: Defaulting to no-operation (NOP) logger implementation
[23:18:09] [Server thread/ERROR]: [

[2022-01-25 08:58] garagepoort commented on #192
Hey @gin-iro

Yes there is. Inside the modes.yml set `inventory-interaction` to `false`
[code]

[2022-01-26 08:41] gin-iro commented on #192
Thank, you, I somehow missed this.

[2022-01-26 08:41] #192 closed

[2022-02-06 18:24] gin-iro opened #195 "examine module does not check perms"
Is there a way to remove freeze and view IP address temporarily from the examine module inside the modules.yml?
With each reboot of the server the two entries are back in the file.
Removing them was a try to limit access as they're not allowed for a certain rank on our server. Which is working as intended if they use the command (they cannot do it), but it's still working for them inside /examine.

[2022-02-06 18:29] gin-iro opened #196 "personnel command"
Why does Staff++ not show all staff members who have access to the staff mode when we do /personnel? We have helper, mod, admin, sradmin, owner as ranks for staff members. Helpers are getting trained to become mods. So they have very limited permissions.

Only admin, sradmin, and owner will come back as a result if I do /personnel. Attached you can see the modes.yml content.
[modes.txt](https://gi

[2022-02-06 20:14] garagepoort commented on #177
These GUIs have been added. Any improvements can be discussed in new tickets. Closing

[2022-02-06 20:14] #177 closed

[2022-02-06 20:18] garagepoort commented on #196
Hello @gin-iro

The personnel command shows all players that have the `staff.member` permission.
Make sure all your staff members have this permission

[2022-02-06 20:37] gin-iro commented on #196
Thank you so much!

[2022-02-06 21:03] #196 closed

[2022-02-09 19:09] gin-iro opened #197 "How do i establish a db connection the right way? (config.yml)"
this are the standard settings, which work like a charm:

storage:
  type: sqlite
  mysql:
    host: localhost
    user: root
    database: root
    password: mypass
    port: 3306
    max-pool-size: 5
    ssl-enabled: false

first thing: I am 100% sure that i am using the right IP address, as well as user, database, and password.

What is the right way to enter the data? When I restart the server

[2022-02-09 20:45] garagepoort commented on #197
Hey @gin-iro

What happens when you start up with these settings. That should work

[2022-02-09 20:48] garagepoort commented on #195
Hey @gin-iro

Setting the examine module options to `-1` should remove them

[2022-02-09 20:48] garagepoort commented on #193
Logging will be fixed with next release

[2022-02-09 20:48] #191 closed

[2022-02-10 12:52] gin-iro commented on #197
This: [12:39:31] [Server thread/ERROR]: Error occurred while enabling StaffPlus v1.18.8 (Is it up to date?)
net.shortninja.staffplus.core.be.garagepoort.mcioc.IocException: Mc-Ioc bean exceptions: [Cannot instantiate bean with type net.shortninja.staffplus.core.application.database.DatabaseInitializer.]
	at net.shortninja.staffplus.core.be.garagepoort.mcioc.IocContainer.createBean(IocContainer.jav

[2022-02-10 12:54] gin-iro commented on #197
I tried it with ' and without. Yes, I am 100% sure that I used the right db address, username, and password.

[2022-02-10 21:31] BetoCR16 opened #198 "Staffchat discord sync repeating message after reload"
After making a change on the config or templates of the Staff++ Discord Integration plugin, and doing `/staffplusplusdiscord reload`, and with the staffchat sync enabled, the messages coming from discord repeats the same number of times the plugin has been reloaded. However after a restart everything works fine.

- Using Staff++ 1.18.7,  Staff++ Discord Integration 1.16.61 and DiscordSRV 1.24.0

-

[2022-02-12 22:57] gin-iro commented on #197
It is used by several other plugins. I tested it on a fresh installation and it worked. So I am assuming that the issue is on our end. I'll come back to you when I know more.

[2022-02-12 23:03] gin-iro opened #199 "/altwhitelist is an unknown command"
I have all perms (staff.*) to make sure that i have access to everything but the command comes back as unknown. Did I miss anything?

[2022-02-12 23:08] gin-iro commented on #193
thank you

[2022-02-12 23:08] #193 closed

[2022-02-12 23:09] gin-iro commented on #195
worked, thank you

[2022-02-13 01:00] gin-iro commented on #199
it was interfering with another plugin

[2022-02-16 20:20] redbau commented on #197
Hi @garagepoort yes gin-iro and I have been working together on this config issue. Yes the db shares tables, so I was hoping for a way to prefix tables for Staff++
1. No startup errors connecting, only when trying to select
2. The tables don't seem to get created
3. Seems odd to get no connection error and no table creation error...

[2022-02-16 22:46] garagepoort commented on #197
@redbau
It seems some other plugin already created a `migrations` table. This is the one that is failing.
normally all staff++ tables are prefixed with `sp_` but this one table is not prefixed.

I won't be able to fix this very soon. If possible I would just suggest to give staff++ a separate database

[2022-02-24 22:19] garagepoort commented on #198
Fixed in release 1.16.63 of the staffplusplus-discord plugin

[2022-02-24 22:19] #198 closed

[2022-03-01 13:51] gin-iro opened #201 "ERROR]: Could not pass event PlayerJoinEvent to StaffPlus v1.18.9"
Checking the console today showed me several log entries like this. Can I do something to get the error to be gone?

[07:52:15 ERROR]: Could not pass event PlayerJoinEvent to StaffPlus v1.18.9
java.util.NoSuchElementException: packet_handler
        at io.netty.channel.DefaultChannelPipeline.getContextOrDie(DefaultChannelPipeline.java:1073) ~[netty-all-4.1.68.Final.jar:4.1.68.Final]
        at io.

[2022-03-01 13:52] gin-iro opened #202 "When a staff member uses the follow mode, blocks that said (invisible) staff member touches break."
When a staff member "mounted" a player using the follow mode (the lead) blocks, that the staff member touched would break. Is there a way to avoid this? It was gone for some time, but now it's back. Is there anything that I can set in the configuration ?

[2022-03-04 01:21] Alucardz997 opened #203 "GUI errors when trying to go back in certain out of the box menus."
Console throwing errors when trying to use the closing GUI item on certain our of the box modules.
Server software is Paper 1.16.5 latest - Staff++ 1.16.102.

In order to reproduce the issue:
- Have a Dummy Player around and warn him once. (warn details are irrelevant)
- Start the staffmode via /staff.
- Access the player-details-module in the provided toolbar. (Dummy Player needs to be close)
- A

[2022-03-19 00:14] garagepoort commented on #203
Hey @Alucardz997
Fixed in latest release 1.18.12

[2022-03-19 00:14] #203 closed

[2022-04-20 12:31] thedarkonekiller opened #204 "errors on server start"
First error:

[14:26:24 ERROR]: [StaffPlus] [STDERR] log4j:WARN No appenders could be found for logger (net.shortninja.staffplus.core.be.garagepoort.mcioc.org.reflections.Reflections).
[14:26:24 WARN]: Nag author(s): '[Shortninja,Qball,Garagepoort]' of 'StaffPlus' about their usage of System.out/err.print. Please use your plugin's logger instead (JavaPlugin#getLogger).
[14:26:24 ERROR]: [StaffPlus

[2022-04-20 12:42] thedarkonekiller commented on #204
i have delete and recreate the database i have this error now:

[14:39:29 ERROR]: Error occurred while enabling StaffPlus v1.18.12 (Is it up to date?)
java.lang.ClassCastException: class java.lang.Boolean cannot be cast to class java.lang.String (java.lang.Boolean and java.lang.String are in module java.base of loader 'bootstrap')
        at net.shortninja.staffplus.core.domain.synchronization.Ser

[2022-04-20 12:43] garagepoort commented on #204
Hey @thedarkonekiller

It seems like a configuration issue.
Can you share the sync-module part of your config.yml file please.

[2022-04-20 12:47] garagepoort commented on #204
@thedarkonekiller
That seems good. Could you maybe share the entire config.yml file. Remember to remove the database credentials before sharing.

[2022-04-20 12:53] thedarkonekiller commented on #204
`server-name: Hub
main-world: Lobby
timestamp-format: dd/MM/yyyy-HH:mm:ss
lang: lang_en
authentication:
  provider: noop
blocked-commands: /example1, /example2, /example3
blocked-mode-commands: /example1, /example2, /example3
glass-color: 0
glass-title: '&bChoose GUI glass color'
offline-players-mode: true
offline-player-cache: true
server-sync-module:
  vanish-sync: true
  staffmode-sync: false

[2022-04-20 13:28] thedarkonekiller commented on #204
i have reset all : database + config folder and i have reconfigure as same and it's work ??? Java and his mysteries :)

[2022-04-20 13:33] garagepoort commented on #204
Well happy to hear that :+1:

[2022-04-20 13:33] #204 closed

[2022-04-29 14:37] thedarkonekiller opened #205 "Error on startup"
Hello,

I have this error on startup

[16:31:52 ERROR]: [StaffPlus] [STDERR] log4j:WARN No appenders could be found for logger (net.shortninja.staffplus.core.be.garagepoort.mcioc.org.reflections.Reflections).
[16:31:52 WARN]: Nag author(s): '[Shortninja,Qball,Garagepoort]' of 'StaffPlus' about their usage of System.out/err.print. Please use your plugin's logger instead (JavaPlugin#getLogger).
[16:

[2022-04-29 18:34] garagepoort commented on #205
Hey @thedarkonekiller

This error can be ignored. It does not impact the working of the plugin.
It will be fixed in the future

[2022-06-04 02:25] coralpapa opened #207 "Feature Request: Prefix Option in config"
Having same issue as described in #197
I have another application that uses a migrations table and causing conflict.
Second Database isn't an available option for me as provider only allows 1
I was thinking maybe a option in config for prefix would work so users can use a prefix or not

[2022-06-07 13:31] garagepoort commented on #207
@coralpapa
Just released a version.
The migrations table name is now configurable.
`migrations-table-name: 'migrations'`

[2022-06-07 13:31] garagepoort commented on #197
New property added in the latest version to bypass this problem:

`migrations-table-name: 'migrations'`

[2022-06-07 14:22] coralpapa commented on #207
Awesome, thank you

[2022-06-08 07:26] #207 closed

[2022-06-12 03:44] coralpapa opened #210 "Phrase Detection bug?"
not sure if this is suppose to be the case.
but a canceled chat event still sends a phrase detection

https://github.com/garagepoort/StaffPlusPlus/blob/512b050abe2b98934c94d049a5e31dd5858dd392/src/main/java/net/shortninja/staffplus/core/domain/chat/PhraseDetectionChatInterceptor.java#L42

[2022-06-12 06:40] garagepoort commented on #210
Yeah I think that's a bug. I'll change that

[2022-06-12 06:45] coralpapa commented on #210
Thanks, sorry for the different bugs/suggestions wasn't sure if i should just post to a github or a discord support

[2022-06-12 06:47] garagepoort commented on #210
No problem I prefer GitHub over discord for bugs and feature requests.

[2022-06-12 20:42] #197 closed

[2022-06-14 02:52] coralpapa commented on #210
saw commit 74df6c4 so i'll close this. Thanks again

[2022-06-14 02:52] #210 closed

[2022-06-14 03:19] coralpapa opened #211 "Feature Request: Addition to blacklist-module"
So right now "blacklist-module" gets checked against chat only, can you also add :
signs - SignChangeEvent
anvil - PrepareAnvilEvent

maybe add variable in config to toggle each on/off incase the user doesn't want each checked

was thinking maybe renaming ChatMessageCensoredEvent to just MessageCensoredEvent
and add an Enum to it called Type that would be Chat, Anvil, Sign

Thanks again :-)

[2022-06-16 12:52] garagepoort commented on #211
Will be added in next release

[2022-06-16 13:24] coralpapa commented on #211
Awesome thank you so much

[2022-06-17 09:52] coralpapa commented on #211
Completed with commit c1a6b37

[2022-06-18 04:47] coralpapa opened #212 "Feature Request: Bungee broadcast for Chat Phrase Detection"
Noticed today that Chat Phrase Detection doesn't have the option for bungee sync.
Would be a great addon to allow incase staff is on another server then player is.

[2022-06-18 04:50] coralpapa opened #213 "Feature Request: Xray Detection config additions"
Would love to add a "Below-Y" option so it would only detect blocks broken below that level.
Alot of times i see players silk take them back to their base and then mine and this causes alot of spam and false detections.

Another option would be adding "Light-Level" option.
Most Xrays dont use torches so detecting below a certain light level would also be a good option.

[2022-06-21 08:23] coralpapa commented on #211
I forgot a type before with this
book - PlayerEditBookEvent

to check title and pages

[2022-06-25 07:12] coralpapa commented on #211
Complete with commit 4164781
Thanks again

[2022-06-25 07:12] #211 closed

[2022-06-25 07:23] #202 closed

[2022-07-24 02:17] max0r4axor opened #216 "Waiting for connection"
The console gets flooded with Waiting for available connection. What is this and how can I get it to stop or fix it right. If it stated what it was waiting for more specifically I could probably figure it out easier.

[2022-07-24 04:33] garagepoort commented on #216
Hey @max0r4axor
This is actually just an info message. This has been removed in the latest release. So if you update that message should no longer be there

[2022-07-24 04:36] max0r4axor commented on #216
Thank you for this. I've looked all over for anything that mentioned this and couldn't find any information on it.

[2022-07-25 05:06] #216 closed

[2022-07-30 17:54] Ryvix opened #217 "Warnings system errors"
Hello,

I was testing this nice looking plugin out and when I tested warnings I got some errors.

I'm using the sqlite mode.

I'm on Paper MC (paper-1.19.1-94.jar).

<details><summary>View Errors</summary>
<p>

[code]
[code]

</p>
</details>

The first one is after I issue a warning to a player and try to view it. For the first error I notice I can run the query to get warnings directly in an sqli

[2022-08-01 07:18] garagepoort commented on #217
Hey @Ryvix

Thank you for the detailed bug report.
I have confirmed both of them and will release a new version today to fix it

[2022-08-01 17:52] Ryvix commented on #217
I tested making a new warning, and typing /my-warnings and appealing it and then approving the appeal and it worked.

However, after that when I go to delete it says i nchat Warning with id[1] not found.

In the log it gives me another error.

<details><summary>View Error</summary>
<p>

[code]

</p>
</details>

I'm not sure if it's possibly somehow related to my previous testing since I think I de

[2022-08-02 07:50] garagepoort commented on #217
hey @Ryvix
This was indeed another bug. Should be solved with the latest release.

[2022-08-06 06:26] Ryvix commented on #217
This seems to work great now. Thank you!

[2022-08-06 08:52] #217 closed

[2022-08-21 05:44] BetoCR16 opened #218 "/my-warnings error with MySQL storage"
Using storage with MySQL and execute the command `/my-warnings`, the GUI doesn't shows up and this error appers in console:
- StaffPlusPlus version 1.19.13
[code]

[2022-08-22 07:55] garagepoort commented on #218
@BetoCR16
Thank you for reporting. Has been fixed in the latest release which can be found on https://staffplusplus.org

[2022-08-22 07:55] #218 closed

[2022-09-15 08:57] FaMa91 opened #220 "Issue on first installation (1.19.2)"
Issue on first installation (1.19.2)

[10:54:54] [Server thread/INFO]: [StaffPlusPlus] Enabling StaffPlusPlus v1.19.14
[10:54:54] [Server thread/INFO]: [StaffPlusPlus] First installation detected
[10:54:54] [Server thread/WARN]: java.io.IOException: No such file or directory
[10:54:54] [Server thread/WARN]:    at java.base/java.io.UnixFileSystem.createFileExclusively(Native Method)
[10:54:54] [Ser

[2022-09-15 09:07] FaMa91 opened #221 "Error on clean installation: [STDERR] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder""
[11:03:47] [Server thread/INFO]: [StaffPlusPlus] Enabling StaffPlusPlus v1.19.14
[11:03:49] [Server thread/INFO]: [StaffPlusPlus] Using SQLITE storage
[11:03:49] [Server thread/INFO]: [StaffPlusPlus] No custom staff mode modules to load
[11:03:49] [Server thread/ERROR]: [StaffPlusPlus] [STDERR] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
[11:03:49] [Server thread/WARN]: Nag au

[2022-09-15 10:34] garagepoort commented on #221
Hi @FaMa91
This is a known error. But it's actually just a warning and doesn't affect the plugin in any way

[2022-09-15 12:44] garagepoort commented on #220
Duplicate

[2022-09-15 13:19] FaMa91 commented on #220
I can't find the same issue. Duplicate of which One?

[2022-09-15 15:13] garagepoort commented on #220
Sorry @FaMa91 I misread it.
This indeed is not a duplicate.

[2022-09-28 08:12] FastQuack opened #223 "Staffchat Module will not disable"
Setting line 106 of config.yml to false and restarting the server does not disable the staff-chat functionality.

[code]